.navLink {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navLink li {
  margin: 0;
  padding: 0;
}

.navLink li a {
  text-decoration: none;
  color: rgb(3, 165, 240);
  font-size: 0.9rem;
  font-weight: 500;
}

.navLink li a:hover {
  color: #e26009;
  text-decoration: underline;
}

.navLink p {
  color: #707070;
  text-decoration: underline;
  font-size: 0.8rem;
  margin: 0.6rem 0 0.1rem 0;
}
